# Java / Maven
target/
*.class
*.jar
*.war
*.log
hs_err_pid*

# Angular / Node
node_modules/
dist/
.angular/
coverage/

# IDEs
.idea/
*.iml
.vscode/*

.classpath
.project
.settings/

# Sistema / secretos
.DS_Store
.env

# Solo lo esencial para correr las tareas
.vscode/
postman/
apuntes/
tareas/*/*/README.md
