# Java / Maven
target/
*.class
*.jar
*.war
*.log
hs_err_pid*

# Angular / Node
node_modules/
dist/
.angular/
coverage/

# IDEs
.idea/
*.iml
.vscode/*
!.vscode/extensions.json
.classpath
.project
.settings/

# Sistema / secretos
.DS_Store
.env
